<div class="wrapper">
<h2>You have these courses with these friends!</h2>
    <table class="imagetable">
        <tr>
        <th>Friend Name</th>
        <th>Courses Together</th>
        </tr>
        <% for friend in @friends %>
        <tr>
        <td><%= @graph.get_object(friend.keys.first)["name"] %></td>
        <td>ece 250, ece 222, math 211, math 215, ece 240, ece 290, ece 200</td>
        </tr>
        <% end %>
    </table>
</div>
