<div class="wrapper">
<h2>You have these courses with these friends!</h2>
    <table class="imagetable">
        <tr>
        <th>Your Courses</th>
        <th>Friends With Same Courses</th>
        </tr>
        <% for course in @user.array_course_list %>
        <tr>
        <td><%= Courses.where('univ_id = ?', self.univ_id).find(m).course %></td>
        <td><%= @graph.get_object('1')["name"] %></td>
        </tr>
    </table>
</div>
