<div class="wrapper">
<h2>You have these courses with these friends!</h2>
    <table class="imagetable">
        <tr>
        <th>Friend Name</th>
        <th>Courses Together</th>
        </tr>
        <tr>
        <td>BOB MACKENZIE</td>
        <td>ece 250, ece 222, math 211, math 215, ece 240, ece 290, ece 200</td>
        </tr>
        <tr>
        <td>LARRY NOT IN ENGINEERING</td>
        <td>srsbsn101</td>
        </tr>
    </table>
</div>
