<div class="form_submit">
<h1>Waterloo Course Finder</h1>
<%= form_for(:upload, :url => {:controller => :frontends, :action => :upload_file}) do |f| %>
<%= f.label :upload_file, 'Input the URL of a screenshot of your schedule.' %>
<br><br><br><br>
<div class="input_field">
<%= f.text_field :upload_file %>
<%= f.submit "Submit", :class => "submit" %>
</div>
</div>
<% end %>