<h1>File Upload</h1>
<%= form_for(:upload, :url => {:controller => :frontends, :action => :index}) do |f| %>
<%= f.label :upload_file, 'Select File' %>
<%= f.file_field :upload_file %>
<%= f.submit %>
<% end %>
