<h1>File Upload</h1>
<%= form_for(:upload, :url => {:controller => :frontends, :action => :upload_file}) do |f| %>
<%= f.label :upload_file, 'Input the URL of the picture of your schedule' %>
<%= f.text_field :upload_file %>
<%= f.submit %>
<% end %>
